<footer class="footer" id="contact">

    <div class="container">
        <div class="footer__inner">
            <div class="footer__box" >
                <h6 class="footer__box-title">
                    SERVICES
                </h6>
                <a class="footer__box-service slide-1" href="#service" >
                    Residental Cleaning
                </a>
                <a class="footer__box-service slide-2" href="#service">
                    Move In / Move Out Cleaning
                </a>
                <a class="footer__box-service slide-3" href="#service">
                    Sofa And Carpet Cleaning
                </a>
                <a class="footer__box-service slide-4" href="#service">
                    Post Construction Cleaning
                </a>
                <a class="footer__box-service slide-5" href="#service">
                    Commercial Cleaning
                </a>
            </div>
            <div class="footer__box" id="footer-element-2">
                <p class="footer__box-text">
                    Save Time. Save Money. Save Yourself Too!
                    Life’s Too Short to Clean Your Own Home
                </p>
                <button class="footer__box-btn">
                    BOOK AND CLEAN
                </button>
                <a class="footer__box-logo" href="#">
                    <img src="../images/footer-logo.svg" alt="">
                </a>
            </div>
            <div class="footer__box">
                <h6 class="footer__box-title">
                    CONTACT US
                </h6>
                <a class="footer__box-contact" href="https://maps.app.goo.gl/dtweLHK7KjeqAwqf9">
                    7237 Jellico Ave, Van Nuys, Ca 91406, United States

                </a>
                <a class="footer__box-contact" href="tel:+3238917122">
                    (323)8917122
                </a>
                <a class="footer__box-contact" href="mailto:cleanification.com@gmail.com">
                    cleanification.com@gmail.com
                </a>
                <p class="footer__box-time">
                    Mon-Fri: 7:00 Am – 10:00 Pm
                    <br><br>
                    Sat-Sun: 10:00 Am – 6:00 Pm
                </p>

            </div>
        </div>
        <p class="footer__copy">
            Copyright © 2023 Be Clean. All Rights Reserved.
        </p>
    </div>

</footer>

</div>

<script src="js/main.min.js"></script>
</body>

</html>